.home {
  background-color: var(--primary-color);
  min-height: 90vh;
}

.homeMain {
  display: flex;
  gap: 100px;
}

.homeSectionLeft {
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  gap: 90px;
  padding-left: 5vw;
  padding-top: 12vh;
}

.headline {
  font-size: 5.375em;
  font-weight: 900;
}

.subHeading {
  font-size: 2.25em;
  font-weight: 500;
}

.subHeadingUl {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.subHeadingUl > li {
  display: flex;
  align-items: center;
  gap: 25px;
  background-color: rgb(255, 255, 255, 0.1);
  padding: 10px 20px;
  width: 500px;
  border-radius: 20px;
}

.svg {
  width: 60px;
  height: 60px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  object-fit: contain;
}

.cta {
  font-size: 2em;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.ctaBtn {
  font-size: 1.2em;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  background-color: var(--accent-color-1);
  color: var(--accent-text-color);
  max-width: 480px;
  text-align: center;
}

.homeSectionRight {
  padding-top: 12vh;
}

.portrait {
  width: 720px;
  height: 720px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  object-fit: cover;
  border-radius: 50px;
}
